<div class="background-image">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"> Welcome To AffordDBMD </h1>
      <p class="lead">
       Use This Search To Quickly Find Discounts On Diabetic Medications And Testing Supplies In Your Area:
      </p>
      <%= form_tag supplies_path, :method => :get do %>
        <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "e.g. Testing Strips", class: "form-control form-control-lg home-search" %>

        <%= submit_tag "Search", :name => nil, :brand => nil,
              class: "btn btn-primary btn-block btn-lg mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
  <%# image_tag('logos/doctor.jpg') %>
</div>
