<div class="c-section">
  <h1 class="c-title c-title--large">Discounts on Diabetic Medications and Testing Supplies:</h1>
</div>
<div class="c-section">
  <% @supplies.each do |supply| %>
  <!-- hey -->
    <div class="c-card u-margin-bottom-small">
      <div class="c-section">
        <h4 class="c-title"><%= supply.name %></h4>
        <h4 class="c-title"><%= supply.brand %></h4>
        <h4 class="c-title c-title--tiny">UPC: <%= supply.upc %></h4>
        <%= link_to "Discounts", supply_discounts_path(supply), class: "c-button c-button--focal" %>
        <%# paginate @supplies %>
      </div>
    </div>
  <% end %>
</div>
