<div class="c-section">
  <h1 class="c-title c-title--large"><%= @pharmacy_name %></h1>
  <h1 class="c-title c-title--large"><%= @price %></h1>
  <a class="c-button c-button--focal" href="#">Discount</a>
</div>
