<div class="c-section">
  <h1 class="c-title c-title--large"><%= @supply.name %></h1>
        <h4 class="c-title c-title--tiny"><%= @book.upc %></h4>
  <%= link_to "Discount", new_supply_discount_path(@supply), class: "c-button c-button--focal" %>
  <a class="c-button c-button--focal" href="#">Discount</a>
</div>
