<div class="c-section">
  <h1 class="c-title c-title--large"><%= @discount.pharmacy %></h1>
  <h4 class="c-title c-title--tiny"><%= @discount.price %></h4>
  <%= link_to "Text Me Discount Info.", discounts_path, class: "c-button c-button--focal" %>
</div>
