
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

$primary: #bf11d6;
$secondary: #3a2799;

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

.background-image {
  height: 100vh;
  padding: 100px;
  background: image-url("logos/hospital.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-search {
  height: 5rem !important;
  padding: 2.5rem 2rem !important;
}

.footer-container {
  display: block;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin-top: 100px;
  padding: 15px;
  background-color: #e9ecef;
}

@import "bootstrap";
